body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  margin: auto;
  width: 1000px;
  padding: 0 20px 0 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.09+84,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 94%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 94%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 94%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

#about, #home {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

div {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

header, section, footer {
  width: 960px;
}

header {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: center;
}

nav {
  width: 800px;
  padding: 20px 80px 60px 80px;
  display: flex;
  justify-content: center;
}

nav ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

#about section, #home section {
  margin-bottom: 0;
}

.group1, .group2, .group3, .simplegroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group1 {
  flex: 1 100%;
}

.group2 {
  flex: 2;
}

.group3 {
  flex: 1;
}

article {
  width: 310px;
  height: 310px;
  margin: 5px;
  box-shadow: 2px 4px 10px;
  overflow: hidden;
}

footer {
  padding: 30px 0 40px 0;
}

/****************** Images and Video *****************/

header img {
  height: 180px;
}

.horizontal {
  width: 630px;
}

.vertical {
  height: 630px;
}

.square {
  width: 630px;
  height: 630px;
}

.articlespacer {
  padding-bottom: 80px;
}

article img {
  width: 310px;
}

.horizontal img, .square img {
  width: 630px;
}

video {
  height: 310px;
  box-shadow: 2px 4px 10px;
}

/****************** Typography *****************/

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}

a:hover {
  color: red;
}

#typenav a, #illustrnav a, #codenav a, #abtnav a {
  color: red;
}

h1, h2, h3, h4, h5 {
  width: 100%;
  text-align: center;
  padding: 10px 0 20px 0;
}

#home h1 {
  height: 180px;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 26px;
  padding: 20px 0 40px 0;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
}

p, ul {
  width: 100%;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

h5 {
  padding: 20px 0 0 0;
  font-weight: 600;
}

.underimg {
  margin-top: 40px;
  text-indent: 50px;
}

section a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

section ul {
  text-align: center;
  margin-bottom: 40px;
}

#about .articlespacer {
  padding-bottom: 40px;
}

footer {
  text-transform: uppercase;
  line-height: 48px;
}

footer a {
  color: #c1c1c1;
  text-decoration: none;
}

.portal {
  color: white;
}

/****************** Queries *****************/

@media(max-width:1000px) {
  body {
    width: 100vw;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  div, header, section, footer, h1, h2, h3, h4, h5, p, ul {
    width: 100vw;
  }
  header {
    padding: 6vw 0 6.5vw 0;
  }
  nav {
    width: 84vw;
    padding: 0;
    margin: 0 8vw 4vw 8vw;
  }
  nav ul li a {
    font-size: 2.2vw;
  }
  h1, h2, h3, h4, h5 {
    width: 98vw;
    padding: 1vw 0 2vw 0;
  }
  h1 {
    font-size: 2.6vw;
    padding: 2vw 0 4vw 0;
  }
  h2 {
    font-size: 2.4vw;
  }
  h3 {
    font-size: 2.2vw;
  }
  h4 {
    font-size: 2vw;
  }
  h5 {
    padding: 2vw 0 0 0;
  }
  p, a, li {
    font-size: 1.8vw;
  }
  p {
    padding: 0 10px 0 10px;
  }
  #about li, li {
    line-height: 1.5em;
  }
  video {
    height: 31vw;
    margin: 0.5vw;
  }
  article {
    width: 31vw;
    height: 31vw;
    margin: 0.5vw;
  }
  .articlespacer {
    padding-bottom: 8vw;
  }
  .horizontal {
    width: 65vw;
  }
  #home .vertical {
    height: 65vw;
  }
  .vertical {
    height: 63vw;
  }
  .square {
    width: 65vw;
    height: 65vw;
  }
  article img {
    width: 31vw;
  }
  .horizontal img, .square img {
    width: 65vw;
  }
  footer {
    padding: 3vw 0 1vw 0;
  }
  footer p {
    text-align: center;
    margin: 2vw 0 2vw 0;
    padding: 0;
  }
}

@media(max-width:700px) {
  article {
    width: 32vw;
    height: 31vw;
    margin: 0.5vw;
    position: relative;
  }
  article img {
    position: absolute;
    width: 32vw;
    top: -2px;
  }
  .square img {
    top: 0px;
  }
  .underimg {
    margin-top: 4vw;
  }
  nav ul li a {
    font-size: 3vw;
  }
  h1, h2, h3, h4, h5 {
    width: 98vw;
    padding: 1vw 0 2vw 0;
  }
  h1 {
    font-size: 3.6vw;
    padding: 3vw 0 5vw 0;
  }
  h2 {
    font-size: 3.4vw;
  }
  h3 {
    font-size: 3.2vw;
  }
  h4 {
    font-size: 3vw;
  }
  h5 {
    padding: 3vw 0 0 0;
  }
  p, a, li {
    font-size: 2.8vw;
  }
  footer p {
    margin: 0;
  }
  footer a {
    font-size: 1.8vw;
  }
}